.markssue_switch {
  height: 32px;
  margin-left: 16px;
  border-radius: 16px;
  cursor: pointer;
}
.markssue {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  background: #fff;
  z-index: 200;
  overflow: scroll;
  transition: transform .5s ease;
}
.markssue.hide {
  transform: translateX(1000px);
}
.markssue-head {
  background: #373e43;
  position: sticky;
  top: 0;
  height: 32px;
  padding: 16px 0;
  box-sizing: content-box;
  display: flex;
  align-items: center;
}
.markssue-head-desc {
  margin-left: 10px;
  color: #fff;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  cursor: default;
}
.markssue-content {
  border-left: 1px solid #d1d5da;
}
.markssue-side {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  width: 3px;
  border-left: 1px solid #d1d5da;
  cursor: ew-resize;
}
