.markssue_switch {
  margin-left: 16px;
}
.markssue_switch.inside {
  height: 100%;
}
.markssue {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  background: #fff;
  border-left: 1px solid #d1d5da;
  z-index: 200;
  overflow: scroll;
  transition: transform .5s ease;
}
.markssue.hide {
  transform: translateX(1000px);
}
.markssue-head {
  background: #373e43;
  height: 32px;
  padding: 16px 0;
  box-sizing: content-box;
}
.markssue-side {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
  cursor: ew-resize;
}
