.markssue_switch {
  height: 32px;
  margin-left: 16px;
  border-radius: 16px;
  cursor: pointer;
}

.markssue {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  background: #fff;
  z-index: 200;
  overflow: scroll;
  transition: transform .5s ease;
  &.hide {
    transform: translateX(1000px);
  }
  &-head {
    background: rgb(55, 62, 67);
    height: 32px;
    padding: 16px 0;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    &-desc {
      margin-left: 10px;
      color: #fff;
      font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
      cursor: default;
    }
  }
  &-content {
    border-left: 1px solid #d1d5da;
  }
  &-side {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    width: 3px;
    border-left: 1px solid #d1d5da;
    cursor: ew-resize;
  }
}